Repository ansys/pymotorcad, pull requests merged in 2023-03, with the labels that each got.

#102 MAINT : Bump 0.2.dev version
  .github/workflows/ci_cd.yml
  src/ansys/motorcad/core/__init__.py
Labels: enhancement, maintenance

#106 DOC : fix version on the docs
  doc/source/conf.py
Labels: documentation

#104 Add matlab scripting to docs
  .pre-commit-config.yaml
  doc/source/user_guide/index.rst
  doc/source/user_guide/matlab_scripting.rst
  doc/styles/Vocab/ANSYS/accept.txt
  exclude_lines.txt
Labels: documentation

#107 Fix links on Getting Started page
  doc/source/getting_started/index.rst
Labels: bug, documentation

#85 Graph issue 79
  src/ansys/motorcad/core/methods/rpc_methods_graphs.py
  tests/test_graphs.py
Labels: enhancement

#113 doc: fix the bug to deploy dev docs.
  doc/source/conf.py
Labels: bug, documentation, maintenance
