Repository ansys/pymotorcad, pull requests merged in 2023-08, with the labels that each got.

#150 fix: update ci_cd
  .github/workflows/ci_cd.yml
  pyproject.toml
  src/ansys/motorcad/core/__init__.py
Labels: bug, maintenance

#151 Add warnings for Motor-CAD API calls
  src/ansys/motorcad/core/__init__.py
  src/ansys/motorcad/core/rpc_client_core.py
  tests/test_rpc_client_core.py
Labels: enhancement, Core API

#153 Feat/adaptive templates geometry classes
  .pre-commit-config.yaml
  doc/source/methods/MotorCAD_object.rst
  doc/source/methods/autofill_function_names.py
  doc/source/methods/geometry_functions.rst
  doc/source/methods/index.rst
  src/ansys/motorcad/core/geometry.py
  src/ansys/motorcad/core/methods/adaptive_geometry.py
  src/ansys/motorcad/core/rpc_methods_core.py
  tests/setup_test.py
  tests/test_files/adaptive_templates_script.py
  tests/test_geometry.py
Labels: documentation, enhancement, Core API

#159 Update coordinates for geometry unit tests
  tests/test_fea_geometry.py
Labels: bug

#163 Doc/add cheat sheet links
  README.rst
  doc/source/index.rst
Labels: documentation
