Repository ansys/pymotorcad, pull requests merged in 2023-09, with the labels that each got.

#181 Speed up initial connection to Motor-CAD exe by resolving localhost earlier
  src/ansys/motorcad/core/rpc_client_core.py
Labels: enhancement

#183 Update tests for latest motorcad version
  src/ansys/motorcad/core/geometry.py
  tests/test_calculations.py
  tests/test_general.py
Labels: maintenance

#185 bump version 0.3.dev0
  pyproject.toml
Labels: maintenance

#173 New unit tests for collision detection api
  doc/source/methods/geometry_functions.rst
  src/ansys/motorcad/core/geometry.py
  tests/test_geometry.py
Labels: documentation, enhancement, maintenance

#189 Add EntityList class
  doc/source/methods/geometry_functions.rst
  src/ansys/motorcad/core/geometry.py
  tests/test_geometry.py
Labels: documentation, enhancement

#184 0.2 - Update tests for latest motorcad version (#183)
  tests/test_calculations.py
  tests/test_fea_geometry.py
  tests/test_general.py
  tests/test_lab.py
Labels: release, maintenance
