Repository ansys/pymotorcad, pull requests merged in 2023-10, with the labels that each got.

#203 update tests for latest test release
  tests/test_fea_geometry.py
  tests/test_files/base_test_file.mot
  tests/test_general.py
Labels: release, maintenance

#201 Save/load adaptive templates scripts from Motor-CAD api
  src/ansys/motorcad/core/methods/adaptive_geometry.py
  tests/test_geometry.py
Labels: enhancement, release

#206 update lab model build
  tests/test_files/base_test_file.mot
Labels: bug, maintenance

#197 Add function to draw regions
  pyproject.toml
  src/ansys/motorcad/core/geometry.py
  src/ansys/motorcad/core/geometry_drawing.py
  tests/test_geometry.py
Labels: enhancement, maintenance

#207 update lab model build (#206)
  tests/test_files/base_test_file.mot
Labels: release, maintenance

#209 Change get_length to length property
  src/ansys/motorcad/core/geometry.py
  tests/test_geometry.py
Labels: enhancement, maintenance

#214 convert methods to properties
  src/ansys/motorcad/core/geometry.py
  src/ansys/motorcad/core/geometry_drawing.py
  tests/test_geometry.py
Labels: maintenance

#211 Fix geometry tests
  tests/test_calculations.py
  tests/test_geometry.py
Labels: bug, maintenance

#215 Fix motorcad instance not set from subtraction, collides and unite
  src/ansys/motorcad/core/geometry.py
  src/ansys/motorcad/core/methods/adaptive_geometry.py
  tests/test_geometry.py
Labels: bug

#210 Update geometry docs
  doc/source/contributing.rst
  doc/source/methods/geometry_functions.rst
  src/ansys/motorcad/core/geometry.py
Labels: documentation

#216 Adaptive templates mirror functionality for Region/Entity/Line/Arc/Coordinate
  src/ansys/motorcad/core/geometry.py
  tests/test_geometry.py
Labels: enhancement
