Repository ansys/pymotorcad, pull requests merged in 2024-02, with the labels that each got.

#260 bump version 0.5.dev0
  pyproject.toml
Labels: maintenance

#239 Add Adaptive Templates to Examples
  doc/source/contributing.rst
  doc/source/images/Adaptive_Geometry_Drawing_all.png
  doc/source/images/Adaptive_Geometry_GUI_Screenshot.png
  doc/source/images/Adaptive_Geometry_GUI_Screenshot_UG_Modified.png
  doc/source/images/Adaptive_Geometry_Shapes_Diagram.png
  doc/source/images/Adaptive_Parameters_GUI_Screenshot.png
  doc/source/images/Adaptive_Parameters_GUI_Screenshot_2.png
  doc/source/images/Adaptive_Templates_GUI_Screenshot.png
  doc/source/images/BPMTriangularRotorNotches.png
  doc/source/images/Geometry_Coordinate_System_GUI_Screenshot.png
  doc/source/images/UShapeSYNCRELCurvedFluxBarriers.png
  doc/source/methods/geometry_functions.rst
  doc/source/methods/geometry_shapes.rst
  doc/source/methods/index.rst
  doc/source/methods/template.rst_template
  doc/source/user_guide/adaptive_templates.rst
  doc/source/user_guide/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
  examples/adaptive_library/BPMTriangularRotorNotches.py
  examples/adaptive_library/README.txt
  examples/adaptive_library/UShapeSYNCRELCurvedFluxBarriers.py
  src/ansys/motorcad/core/__init__.py
  src/ansys/motorcad/core/geometry_drawing.py
  src/ansys/motorcad/core/geometry_shapes.py
  src/ansys/motorcad/core/methods/adaptive_geometry.py
  src/ansys/motorcad/core/methods/rpc_methods_general.py
  src/ansys/motorcad/core/methods/rpc_methods_ui.py
  src/ansys/motorcad/core/methods/rpc_methods_utility.py
  src/ansys/motorcad/core/rpc_client_core.py
Labels: documentation

#268 Correct docstrings for geometry.unite
  src/ansys/motorcad/core/geometry.py
Labels: bug, documentation
