Repository ansys/pymotorcad, pull requests merged in 2024-09, with the labels that each got.

#355 Oblong stator duct example
  doc/source/images/adaptive_templates/OblongDuct.png
  doc/source/images/adaptive_templates/OblongDuct_HWJ_after.png
  doc/source/images/adaptive_templates/OblongDuct_HWJ_before.png
  doc/source/images/adaptive_templates/OblongDuct_area.png
  examples/adaptive_library/OblongStatorDuct.py
Labels: documentation

#376 Add custom loss functions.
  src/ansys/motorcad/core/methods/rpc_methods_lab.py
  tests/test_lab.py
Labels: enhancement

#386 Fix max recursion depth reached with geometry drawing
  src/ansys/motorcad/core/geometry_drawing.py
  tests/test_geometry_drawing.py
Labels: bug
