Repository ansys/pymotorcad, pull requests merged in 2024-10, with the labels that each got.

#384 API Method to Retrieve File Name and Status
  src/ansys/motorcad/core/methods/rpc_methods_variables.py
  tests/test_variables.py
Labels: enhancement, Core API

#388 Lab Model Export API
  src/ansys/motorcad/core/methods/rpc_methods_lab.py
  tests/test_lab.py
Labels: enhancement

#409 0.6/update tests
  .github/workflows/ci_cd.yml
  tests/RPC_Test_Common.py
  tests/test_graphs.py
Labels: maintenance

#405 TB Thermal - fix for new heat flow method and fix for lone spray cooling nodes
  examples/links/thermal_twinbuilder.py
Labels: bug

#389 Add new unit test for changing standard template region material
  tests/test_geometry.py
Labels: enhancement

#377 Update description for transient export commands
  src/ansys/motorcad/core/methods/rpc_methods_thermal.py
Labels: documentation

#415 fixed clashing folder names for loss distribution outputs
  examples/links/thermal_twinbuilder.py
Labels: bug
