Repository ansys/pymotorcad, pull requests merged in 2024-08, with the labels that each got.

#343 added-thermal-twinbuilder-rom-example
  doc/source/images/Thermal_Twinbuilder_GenerateROM_Blank.png
  doc/source/images/Thermal_Twinbuilder_GenerateROM_Filled.png
  doc/source/images/Thermal_Twinbuilder_TwinBuilderROM.png
  doc/source/images/Thermal_Twinbuilder_TwinBuilderROM_Zoom.png
  examples/links/thermal_twinbuilder.py
  pyproject.toml
Labels: documentation, maintenance

#364 Fix sphinx gallery thumbnails
  examples/adaptive_library/BPMTriangularRotorNotches.py
  examples/adaptive_library/BezierCurveRotorPockets.py
  examples/adaptive_library/TrapezoidalDuct.py
  examples/adaptive_library/UShapeSYNCRELCurvedFluxBarriers.py
Labels: bug

#366 Update ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance
