Repository ansys/pymotorcad, pull requests merged in 2024-05, with the labels that each got.

#300 new test results for 24r2
  tests/test_files/IM_test_file.mot
  tests/test_files/SRM_test_file.mot
  tests/test_files/base_test_file.mot
  tests/test_graphs.py
Labels: maintenance

#301 Docs/fix style check vale
  doc/.vale.ini
  doc/styles/config/vocabularies/ANSYS/accept.txt
  doc/styles/config/vocabularies/ANSYS/reject.txt
Labels: documentation

#302 Maint/update tests to allow multiple runners
  .github/workflows/ci_cd.yml
  .github/workflows/nightly-motorcad-check.yml
  tests/RPC_Test_Common.py
  tests/conftest.py
  tests/setup_test.py
  tests/test_MotorCAD_Methods.py
  tests/test_UI.py
  tests/test_calculations.py
  tests/test_fea_geometry.py
  tests/test_files.py
  tests/test_general.py
  tests/test_geometry.py
  tests/test_geometry_drawing.py
  tests/test_graphs.py
  tests/test_internal_scripting.py
  tests/test_lab.py
  tests/test_materials.py
  tests/test_rpc_client_core.py
  tests/test_thermal.py
  tests/test_variables.py
Labels: documentation, maintenance

#299 Feat/get region dxf api
  src/ansys/motorcad/core/methods/adaptive_geometry.py
  tests/RPC_Test_Common.py
  tests/conftest.py
  tests/test_fea_geometry.py
  tests/test_geometry.py
Labels: enhancement

#270 Edit magnet regions
  doc/source/methods/geometry_functions.rst
  src/ansys/motorcad/core/geometry.py
  src/ansys/motorcad/core/methods/adaptive_geometry.py
  src/ansys/motorcad/core/rpc_client_core.py
  tests/test_geometry.py
Labels: documentation, enhancement, release, Core API

#282 Adaptive template example script - Trapezoidal duct
  examples/adaptive_library/BPMTriangularRotorNotches.py
  examples/adaptive_library/TrapezoidalDuct.py
  examples/adaptive_library/UShapeSYNCRELCurvedFluxBarriers.py
Labels: documentation, enhancement

#303 Updated Documentation for export_results()
  src/ansys/motorcad/core/methods/rpc_methods_general.py
Labels: documentation

#306 Add region replace method
  doc/source/images/Adaptive_Geometry_DXF__1.png
  doc/source/user_guide/adaptive_templates.rst
  src/ansys/motorcad/core/geometry.py
  tests/test_geometry.py
Labels: documentation

#312 Update tests for 24.0.6
  tests/test_geometry.py
Labels: bug, maintenance
