Repository ansys/pymotorcad, pull requests merged in 2024-07, with the labels that each got.

#330 Missing tolerance Arc.centre property
  src/ansys/motorcad/core/geometry.py
  tests/test_geometry.py
Labels: bug, release

#328 fix version check function
  src/ansys/motorcad/core/rpc_client_core.py
  tests/test_rpc_client_core.py
Labels: bug

#321 Adaptive Templates Example - Bezier Curve Rotor Pockets for IPM
  doc/source/images/Adaptive_Geometry_Bezier_e4a_1.png
  doc/source/images/Adaptive_Geometry_Bezier_e4a_2.png
  examples/adaptive_library/BPMTriangularRotorNotches.py
  examples/adaptive_library/BezierCurveRotorPockets.py
  examples/adaptive_library/TrapezoidalDuct.py
  examples/adaptive_library/UShapeSYNCRELCurvedFluxBarriers.py
  pyproject.toml
Labels: documentation, maintenance

#338 Corrected calculation of arc length
  src/ansys/motorcad/core/geometry.py
  tests/test_geometry.py
Labels: bug

#332 Fix get_coordinate_from_distance() for Arc
  src/ansys/motorcad/core/geometry.py
  tests/test_geometry.py
Labels: bug
