Repository ansys/pymotorcad, pull requests merged in 2024-11, with the labels that each got.

#385 Add new region duplication settings API
  src/ansys/motorcad/core/geometry.py
  tests/test_geometry.py
Labels: enhancement

#427 Fix graph tests following change to motor test file in #411.
  tests/test_graphs.py
Labels: bug

#426 fix region trying to set lamination type for non adaptive regions
  src/ansys/motorcad/core/geometry.py
Labels: bug

#398 [internal gen] Run Regression Tests from PyMotorCAD API
  codecov.yml
  src/ansys/motorcad/core/methods/rpc_methods_testing.py
  src/ansys/motorcad/core/rpc_methods_core.py
Labels: enhancement

#339 Fix percentage distance methods
  src/ansys/motorcad/core/geometry.py
  tests/test_geometry.py
Labels: bug

#436 Correct get_coordinate_from_distance if zero value is passed to a named parameter
  src/ansys/motorcad/core/geometry.py
Labels: bug

#433 Adaptive Templates Example: corner rounding for parallel slot bottom
  doc/source/images/adaptive_templates/RoundParSlotBttm.png
  examples/adaptive_library/RoundParallelSlotBttm.py
Labels: documentation
