Repository ansys/pymotorcad, pull requests merged in 2024-06, with the labels that each got.

#314 Fix broken test when run in parallel
  tests/test_rpc_client_core.py
Labels: bug, maintenance

#233 Add clear_messages API method
  src/ansys/motorcad/core/methods/rpc_methods_ui.py
  tests/test_UI.py
Labels: enhancement

#261 Rotate translate regions and fixes
  src/ansys/motorcad/core/geometry.py
  src/ansys/motorcad/core/geometry_fitting.py
  tests/test_geometry.py
Labels: maintenance

#316 Set magnet region type when creating new magnet regions
  src/ansys/motorcad/core/geometry.py
  tests/test_geometry.py
Labels: bug

#311 Add DXF import Example to Adaptive Templates examples
  doc/source/conf.py
  doc/source/images/Adaptive_DXF_Import_5.png
  doc/source/images/Adaptive_Geometry_Bezier_e4a_3.png
  doc/source/images/DXFImport1_2.png
  doc/source/images/DXFImport2.png
  doc/source/images/DXFImport3.png
  doc/source/images/DXFImport4.png
  doc/source/images/TrapezoidalDuct1.png
  examples/adaptive_library/BPMTriangularRotorNotches.py
  examples/adaptive_library/DXFImport.py
  examples/adaptive_library/TrapezoidalDuct.py
  examples/adaptive_library/UShapeSYNCRELCurvedFluxBarriers.py
Labels: documentation

#317 python virtual environment in Motor-CAD
  doc/.vale.ini
  doc/source/images/change_python_location.PNG
  doc/source/images/changed_python_location.PNG
  doc/source/images/defaults_python_path.png
  doc/source/images/python_venv_summary.PNG
  doc/source/user_guide/index.rst
  doc/source/user_guide/virtual_env_motorcad.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation
