Repository ansys/pymotorcad, pull requests merged in 2025-05, with the labels that each got.

#493 Avoid warning about setting region type when creating with get_region
  src/ansys/motorcad/core/geometry.py
Labels: bug

#505 Add ability to set default Motor-CAD exe from environment variable
  src/ansys/motorcad/core/rpc_client_core.py
Labels: enhancement

#514 Cherrypick 0.7.2
  doc/source/methods/geometry_fitting.rst
  doc/source/methods/geometry_functions.rst
  doc/source/methods/index.rst
  src/ansys/motorcad/core/geometry.py
  src/ansys/motorcad/core/methods/rpc_methods_graphs.py
  src/ansys/motorcad/core/methods/rpc_methods_variables.py
  src/ansys/motorcad/core/motorcad_methods.py
  src/ansys/motorcad/core/rpc_client_core.py
  tests/test_geometry.py
  tests/test_graphs.py
  tests/test_rpc_client_core.py
  tests/test_variables.py
Labels: documentation
