Repository ansys/pymotorcad, pull requests merged in 2025-07, with the labels that each got.

#322 Basic e mag example review
  doc/source/images/basics_emag_2.png
  examples/basics/emag_basics.py
  src/ansys/motorcad/core/methods/rpc_methods_graphs.py
Labels: documentation

#542 Add get_datastore_method and classes.
  src/ansys/motorcad/core/datastore.py
  src/ansys/motorcad/core/methods/rpc_methods_variables.py
  tests/test_variables.py
Labels: enhancement

#554 docs: Update ``CONTRIBUTORS.md`` with the latest contributors
  CONTRIBUTORS.md
Labels: maintenance
